[submodule "Learning-Environment"]
	path = Learning-Environment
	url = https://github.com/DelahayJoann/Learning-Environment.git
[submodule "safetysnails"]
	path = safetysnails
	url = https://github.com/DelahayJoann/safetysnails.git
[submodule "Mon-CV"]
	path = Mon-CV
	url = https://github.com/DelahayJoann/Mon-CV.git
[submodule "tim-berners-lee"]
	path = tim-berners-lee
	url = https://github.com/DelahayJoann/tim-berners-lee.git
